{% load i18n %}{% load l10n %}{% load static %}{% load lp_filters %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" prefix="" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="profile" href="http://gmpg.org/xfn/11">

  <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}landing_page/layouts/fitness/img/apple-touch-icon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}landing_page/layouts/fitness/img/apple-touch-icon-32x32.png" sizes="32x32">
  <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}landing_page/layouts/fitness/img/apple-touch-icon-96x96.png" sizes="96x96">
  <link rel="shortcut icon" type="image/x-icon" href="{% get_static_prefix %}landing_page/layouts/fitness/img/favicon.ico" />
  <link rel="apple-touch-icon" href="{% get_static_prefix %}landing_page/layouts/fitness/img/apple-touch-icon-180x180.png" sizes="180x180">

  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="description" content="{{ page.description }}" />

  <meta property="og:site_name" content="Rupreht" />
  <meta property="og:url" content="{{ request.path_info }}">
  <meta property="og:type" content="article">
  <meta property="og:updated_time" content="{{ page.date|date:'c' }}">

  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:title" content="{{ page.title }}">

  <title>{{ page.title|safe|title }}</title>
{% if page.logo_image %}
  <meta property="og:image" content="{% get_media_prefix %}{{ page.logo_image }}">
  <meta property="og:image:secure_url" content="{% get_media_prefix %}{{ page.logo_image }}">
  <meta property="og:image:alt" content="Илья Герасимов">
  <meta property="og:image:height" content="{{ page.logo_image.height }}">
  <meta property="og:image:width" content="{{ page.logo_image.width }}">
  <meta property="og:image:type" content="image/jpeg">
{% endif %}
  <meta property="og:locale" content="{{ LANGUAGE_CODE|language_name_local }}">

  <link rel="stylesheet" href="{% get_static_prefix %}landing_page/layouts/fitness/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
  <link rel="stylesheet" href="{% get_static_prefix %}landing_page/layouts/fitness/css/styles.min.css">
</head>

<body>
  <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container"><a class="navbar-brand" href="#">{{ page.title|safe|title }}</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"></button>
      <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ml-auto" role="button" href="tel:{{ page.phone_number1|cleantel }}">{{ page.phone_number1 }}</a></div>
    </div>
  </nav>
{# Header section #}
  <header class="masthead text-white text-center" style="background:url('{% get_static_prefix %}933e3ee579ca465ba8780420147634dc.jpg') no-repeat center center; background-size:cover;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">{{ page.tagline }}</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/api/myphone/" method="POST">{% csrf_token %}
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="tel" placeholder="Номер телефона..." autofocus="" inputmode="tel" id="up-contact" name="myphone"></div>
              <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Я хочу!</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
{# Portfolio section #}
  <section class="showcase">
    <div class="container-fluid p-0">
      {% for portfolio in page.portfolio_parts.all %}
      <div class="row no-gutters">
        <div class="col-lg-6 my-auto order-lg-1 showcase-text">
          <h2>{{ portfolio.title|safe }}</h2>
          <p class="lead mb-0">{{ portfolio.description|safe }}</p>
        </div>
        <div class="col-lg-6{% cycle ' order-lg-2' '' %} text-white showcase-img" style="background-image: url('{% get_media_prefix %}{{ portfolio.image }}');"></div>
      </div>
      {% endfor %}
    </div>
  </section>
{# Testimonials section #}
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">{{ page.testimonials_title|safe }}</h2>
      <div class="row">
        {% for testimonial in page.testimonials_parts.all %}
        <div class="col-lg-4 offset-lg-4">
          <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{% get_media_prefix %}{{ testimonial.image }}">
            <h5>{{ testimonial.title|safe }}</h5>
            <p class="font-weight-light mb-0">{{ testimonial.short_text|safe }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{# Map section #}
{% if page.map %}
  <section>
  {% autoescape off %}
    {{ page.map }}
  {% endautoescape %}
  </section>
{% endif %}
{# API CallBack section #}
  <section class="call-to-action text-white text-center" style="background:url('{% get_media_prefix %}{{ page.background_image }}') no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">{{ page.statement|safe }}</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/api/myphone/" method="POST">{% csrf_token %}
            <div class="form-row">
              <div class="col-12 col-md-9 col-lg-10 col-xl-10 offset-lg-1 offset-xl-1 mb-2 mb-md-0"><input class="form-control form-control-lg" type="tel" placeholder="Номер телефона..." inputmode="tel" id="bottom-contact" name="myphone"></div>
              <div class="col-12 col-md-9 col-lg-10 col-xl-10 offset-lg-1 offset-xl-1"><button class="btn btn-primary btn-block btn-lg" type="submit">Я&nbsp;хочу, чтобы мне перезвонили.</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{# Footer section #}
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 my-auto h-100 text-center text-lg-left">
          <ul class="list-inline mb-2">
            {% if page.phone_number1 %}
            <li class="list-inline-item"><a href="tel:{{ page.phone_number1|cleantel }}">{{ page.phone_number1 }}</a></li>
            <li class="list-inline-item"><span>⋅</span></li>
            {% endif %}
            {% if page.phone_number2 %}
            <li class="list-inline-item"><a href="tel:{{ page.phone_number2|cleantel }}">{{ page.phone_number2 }}</a></li>
            <li class="list-inline-item"><span>⋅</span></li>
            {% endif %}
            <li class="list-inline-item"><a href="{{ page.homepage }}">Контакт vCard</a></li>
            <li class="list-inline-item"><span>⋅</span></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">{{ page.copyright_text|default:""|safe|title }}-{% now "Y" %}</p>
        </div>
      </div>
    </div>
  </footer>
{# Script section #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
{% if page.javascript %}
  <section>
  {% autoescape off %}
    {{ page.javascript }}
  {% endautoescape %}
  </section>
{% endif %}
</body>
</html>