{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{static_folder}}/css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ page.title }}</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if page.enable_portfolio %}
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">{{ page.portfolio_title}}</a>
            </li>
            {% endif %}
            {% if page.enable_about %}
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">{{page.about_title}}</a>
            </li>
            {% endif %}

            {% if page.enable_contact %}
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">{{ page.contact_title }}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="{{static_folder}}/img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">{{ page.title }}</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">{{ page.tagline }}</h2>
      </div>
    </header>

    {% if page.enable_portfolio %}

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">{{ page.portfolio_title}}</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          {% for part in page.portfolio_parts.all %}
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-{{part.id}}">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% if part.image %}{{part.image.url}}{% else %}{{part.image_url}}{% endif %}" alt="{{part.title}}">
            </a>
          </div>

          <div class="portfolio-modal mfp-hide" id="portfolio-modal-{{part.id}}">
            <div class="portfolio-modal-dialog bg-white">
              <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
              </a>
              <div class="container text-center">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="{% if part.image %}{{part.image.url}}{% else %}{{part.image_url}}{% endif %}" alt="{{part.title}}">
                    <p class="mb-5">{{part.description}}</p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                      <i class="fa fa-close"></i> Close </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

    {% if page.enable_about %}

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">{{page.about_title}}</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <p class="lead">{{page.about_text}}</p>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </section>
    {% endif %}

    <!-- Footer -->
    <footer class="footer text-center" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">{{ page.contact_title }}</h4>
            <p class="lead mb-0">{% if page.enable_contact %}
              <b>{{page.title}}</b><br>
              {% if page.homepage %}<i class="fas fa-home"></i>&nbsp; <a href="{{page.homepage}}">{{page.homepage}}</a><br>{% endif %}
              {% if page.email %}<i class="fas fa-at"></i>&nbsp;<a href="mailto:{{page.email}}">{{page.email}}</a><br>{% endif %}
              {% if page.phone_number1 %}<i class="fas fa-mobile"></i>&nbsp;{{page.phone_number1}}<br>{% endif %}
              {% if page.phone_number2 %}<i class="fas fa-mobile"></i>&nbsp;{{page.phone_number2}}<br>{% endif %}
              {% if page.address1 %}{{page.address1}}<br>{% endif %}
              {% if page.address2 %}{{page.address2}}<br>{% endif %}
              {% if page.city %}{% if page.zip_code %}{{page.zip_code}}{% endif %}&nbsp;{{page.city}}<br>{% endif %}
              {% if page.country %}{{page.country}}<br>{% endif %}
          </pre>{% endif %}</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">

              {% if page.facebook %}
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="{{ page.facebook }}">
                  <i class="fab fa-fw fa-facebook-f"></i>
                </a>
              </li>
              {% endif %}

              {% if page.googleplus %}
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="{{ page.googleplus }}">
                  <i class="fab fa-fw fa-google-plus-g"></i>
                </a>
              </li>
              {% endif %}

              {% if page.twitter %}
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="{{ page.twitter }}">
                  <i class="fab fa-fw fa-twitter"></i>
                </a>
              </li>
              {% endif %}

              {% if page.linkedin %}
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="{{ page.linkedin}}">
                  <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
              </li>
              {% endif %}

              {% if page.github %}
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="{{ page.github }}">
                  <i class="fab fa-fw fa-github"></i>
                </a>
              </li>
              {% endif %}

              {% if page.flickr %}
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="{{ page.flickr }}">
                  <i class="fab fa-fw fa-flickr"></i>
                </a>
              </li>
              {% endif %}

              {% if page.youtube %}
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="{{ page.youtube }}">
                  <i class="fab fa-fw fa-youtube"></i>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About Freelancer</h4>
            <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
              <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    {% if page.copyright_text %}
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>{{page.copyright_text|safe}}</small>
      </div>
    </div>
    {% endif %}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{static_folder}}/js/freelancer.min.js"></script>

  </body>

</html>
