{% load i18n %}{% load l10n %}{% load static %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% trans "Thanks You" %}</title>
  <link rel="stylesheet" href="{% get_static_prefix %}landing_page/layouts/fitness/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
  <link rel="stylesheet" href="{% get_static_prefix %}landing_page/layouts/fitness/css/styles.min.css">
</head>

<body style="background:url('{% get_static_prefix %}933e3ee579ca465ba8780420147634dc.jpg');background-repeat: no-repeat;background-position: center;background-size: cover">
  <section class="container-fluid text-white text-center pt-5">
    <div class="overlay pt-5"></div>
    <div class="container align-items-center pt-5">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">{% trans "Thanks You" %}!</h1>
        </div>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <p class="mx-auto">{% trans "We Will Call You Back" %}</p>
      </div>
    </div>
  </section>
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(51374431, "init", { id:51374431, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/51374431" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>